@model DE_Recrutement.Models.Employé

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fonction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fonction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Nom_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Nom_role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
